


.clients-heading {
    color: #212121;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 1.08px;
    font-size: 36px;
}



.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 94px;
}

.clients-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    margin: auto;
    cursor: pointer;
}

.clients-list-item:hover {
    border-radius: 4px;
    border: 1px solid #2196F3;
    margin: auto;
    cursor: pointer;
}
.clients-list-item:hover .clients-icon {
    fill: #2196F3;
}
