.container {
    /* Ширина контейнеру, ширина сайту типу */
    width: 1170px;
    /* Внутрішній відступ між цини червоними колонками типу, по 15px тому що зліва і зправа і в сумі 30px відступ короче */
    padding: 0px 15px;
    /* Це типу для центрування горизонтального ну типу відступ з обох боків рівний і ось */
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}