/* Даємо баді (для всій сторінки сайту) шрифт Roboto, тому що він на всій сторінці окрім лого якому ми потім дамо шрифт */
body {
    font-family: "Roboto";
    font-style: normal;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}



/* Відключаємо точки від всіх списків  ul тому що вони не потрібні*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Відключаємо підкреслення посилась фіол.лінією */
a {
    text-decoration: none;
}