/* Даємо баді (для всій сторінки сайту) шрифт Roboto, тому що він на всій сторінці окрім лого якому ми потім дамо шрифт */
body {
    font-family: "Roboto";
    font-style: normal;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

.container {
    /* Ширина контейнеру, ширина сайту типу */
    width: 1170px;
    /* Внутрішній відступ між цини червоними колонками типу, по 15px тому що зліва і зправа і в сумі 30px відступ короче */
    padding: 0px 15px;
    /* Це типу для центрування горизонтального ну типу відступ з обох боків рівний і ось */
    margin: 0 auto;
}

/* Відключаємо точки від всіх списків  ul тому що вони не потрібні*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Відключаємо підкреслення посилась фіол.лінією */
a {
    text-decoration: none;
}